<!-- Eingesetzte Kräfte -->
<section id="eingesetztekraefte" class="container-fluid">
	<div class="row">
		<div class="col-md-9">
			<table id="kraefte" class="table table-condensed">
				<thead>
					<tr>
						<th class="table-min">Kommt</th>
						<th class="table-min">Geht</th>
						<th>Feuerwehr</th>
						<th>Fahrzeug</th>
						<th class="table-min">Mitglieder</th>
						<th class="table-min">ATS Geräte</th>
						<th class="table-min">ATS Träger</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="k in ElfData.ek | orderObjectBy:'from':true" ng-if="k.to===null">
						<td class="table-min">{{ k.from | date:"dd.MM.yyyy HH:mm" }}</td>
						<td class="table-min"><button ng-click="einheitLeaves(k)" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"></span></button></td>
						<td>{{ k.fw }}</td>
						<td>{{ k.fzg }}</td>
						<td>{{ k.ppl }}</td>
						<td>{{ k.atsg }}</td>
						<td>{{ k.atst }}</td>
					</tr>
					<tr ng-repeat="k in ElfData.ek | orderObjectBy:'from':true" ng-if="k.to!==null">
						<td class="table-min">{{ k.from | date:"dd.MM.yyyy HH:mm" }}</td>
						<td class="table-min">{{ k.to | date:"dd.MM.yyyy HH:mm" }}</td>
						<td>{{ k.fw }}</td>
						<td>{{ k.fzg }}</td>
						<td>{{ k.ppl }}</td>
						<td>{{ k.atsg }}</td>
						<td>{{ k.atst }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-3">
			<h3>Summen (AKTUELL)</h3>
			<table class="table table-condensed">
				<tr>
					<th>Feuerwehren</th>
					<td>{{ actSums.fw }}</td>
				</tr>
				<tr>
					<th>Fahrzeuge</th>
					<td>{{ actSums.fzg }}</td>
				</tr>
				<tr>
					<th>Mannschaftsstand</th>
					<td>{{ actSums.ppl }}</td>
				</tr>
				<tr>
					<th>ATS Ger&auml;te</th>
					<td>{{ actSums.atsg }}</td>
				</tr>
				<tr>
					<th>ATS Ger&auml;tetr&auml;ger</th>
					<td>{{ actSums.atst }}</td>
				</tr>
			</table>

			<h3>Summen (GESAMT)</h3>
			<table class="table table-condensed">
				<tr>
					<th>Feuerwehren</th>
					<td>{{ allSums.fw }}</td>
				</tr>
				<tr>
					<th>Fahrzeuge</th>
					<td>{{ allSums.fzg }}</td>
				</tr>
				<tr>
					<th>Mannschaftsstand</th>
					<td>{{ allSums.ppl }}</td>
				</tr>
				<tr>
					<th>ATS Ger&auml;te</th>
					<td>{{ allSums.atsg }}</td>
				</tr>
				<tr>
					<th>ATS Ger&auml;tetr&auml;ger</th>
					<td>{{ allSums.atst }}</td>
				</tr>
			</table>
		</div>
	</div>
</section>